*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* .body_content {
    height: 100%;
} */
@media only screen and (max-width: 650px) {
    .body_content{
      justify-content: center;
      align-items: center;
    }
}

/* @media only screen and (max-width:650px){
    .hero_content{
        background-position: fixed;;
    }
} */

.navbar_container {
    width: 100%;
    background-image: linear-gradient(79deg, #3277a8, #3283a8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: sticky;

}

.navbar_left {
    color: #fff;
    padding: 0.5rem;
}

.navbar_right {
    display: flex;
}

.navbar_right li {
    padding-right: 10px;
    cursor: pointer;
}

.navbar_right li button{
    background: transparent;
    color: #fff;
    padding: 4px;
}

.navbar_right :hover {
    cursor: pointer;
    border: 1px #3277a8;
    background-color: #fff;
    color: #3277a8;
    border-radius: 4px;
    padding: 2px;
}

.hero_content {
    /* margin-top: 2rem; */


}

.footer_copyright {
    position: sticky;
    bottom: 0;
    width: 100%;
    position: absolute;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(79deg, #3277a8, #3283a8);   
}

.hero_content_right {
    padding-top: 5rem;
    margin-left: 5rem;
    right: 0;
    color:#3283a8;
}

.hero_content_right h1{
    font-weight: 900;
    font-size: 35px;
    height: 30px;
}

.hero_content_right p{
    padding-top: 1rem;
    font-size: 20px;   
}

.expired_contracts{
    background-color: #3283a8;
    margin: 0.5rem 5.5rem;
    color: #fff;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 8px;  
    font-size: 1rem;  
    font-weight: 100;
}